body {
  background-color: #2e3440;
  color: #d8dee9;
  font-family: Lato, sans-serif;
  width: 20em;
}

#options {
  display: none;
}

#loading {
  display: inline;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.382);
}

.info {
  background-color: #e0e0e0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 0.9em;
  color: #2e3440;
  text-align: center;
}


.tooltip .tooltiptext {
  white-space: pre-line;
  visibility: hidden;
  width: 160px;
  background-color: rgba(46, 44, 44, 0.896);
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 10px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}